<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdaas.iard.datafill.wechat.repo.dao.mapper.TTaskReleaseDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gdaas.iard.datafill.wechat.repo.dao.entity.TTaskReleaseEntity">
        <id column="id" property="id" />
        <result column="template_id" property="templateId" />
        <result column="template_name" property="templateName" />
        <result column="area_owner_id" property="areaOwnerId" />
        <result column="area_owner_name" property="areaOwnerName" />
        <result column="area_id" property="areaId" />
        <result column="area_name" property="areaName" />
        <result column="dept_name" property="deptName" />
        <result column="dept_id" property="deptId" />
        <result column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="task_accept_status" property="taskAcceptStatus" />
        <result column="task_id" property="taskId" />
        <result column="task_name" property="taskName" />
        <result column="task_status" property="taskStatus" />
        <result column="task_end_time" property="taskEndTime" />
        <result column="task_start_time" property="taskStartTime" />
        <result column="task_creator" property="taskCreator" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, template_id, template_name, area_owner_id, area_owner_name, area_id, area_name, dept_name, dept_id, role_id, role_name, task_accept_status, task_id, task_name, task_status, task_end_time, task_start_time, task_creator, create_time, update_time
    </sql>
    
    <select id="queryProcess" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        select
        trunc((sum( case when task_status='3' then 1 else 0 end )+.01)/(count(concat(area_owner_id,area_id ,dept_id,role_id ,task_id))+.01)*100)

        as percent  ,task_name as taskName,task_id as taskId,date(task_end_time) as taskEndTime
        from t_task_release
       where   date(task_start_time)&lt;=date(now())  and date(task_end_time)&gt;=date(now())
        and  area_id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        or  (task_status='0' or task_status='1')
        group by taskName,taskId,date(task_end_time)
    </select>
  <!-- todo 写语句。
  -->
    <select id="queryProcess2" resultType="java.util.HashMap" parameterType="java.util.ArrayList">
        select
        trunc((sum( case when task_status='3' then 1 else 0 end )+.01)/(count(concat(area_owner_id,area_id ,dept_id,role_id ,task_id))+.01)*100)

        as percent  ,task_name as taskName,task_id as taskId,date(task_end_time) as taskEndTime
        from t_task_release
        where   date(task_start_time)&lt;=date(now())  and date(task_end_time)&gt;=date(now())
        and  area_id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
        or  (task_status='0' or task_status='1')
        group by taskName,taskId,date(task_end_time)
    </select>
    <!--queryProcess2-->

</mapper>
